# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.log

# Databases & Zip staging
*.db
clptm-api/
clptm-api.zip

# Testing & Pytest
.pytest_cache/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Environment Variables
.env

# R temporary binary files
*.rds
data_T5/raw_rds/

# Temporary files
*.tmp*
